name: Hello World

on: 
   push: 
       branches: [ master ]

jobs: 
    hello-job: 
     runs-on: ubuntu-latest 

     steps:  

        - name: Echo text
          run: echo "Hello, world!"
    
       
